<div class="row mt-5">
  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <h4 class="text-center">
      <span class="px-3 font-weight-bold" style="background-color: #e8e8e8;">投稿編集</span>
    </h4>

    <%= form_with model: @post do |f| %>
      <%= render "public/shared/error_messages", resource: @post %>

      <div class="mb-3">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :body, "本文" %>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :release, "公開年" %>
        <%= f.text_area :release, class: "form-control", placeholder: "4桁の数字を入力してください" %>
      </div>

      <div class="mb-3">
        <%= f.label :timeline, "時系列" %>
        <%= f.text_field :timeline, class: "form-control", placeholder: "1〜99の数字を入力してください" %>
      </div>

      <div class="mb-3">
        <%= f.label :tag, "タグ" %>
        <%= f.text_field :tag, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :image, "イメージ画像" %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class="d-flex justify-content-end">
        <%= f.submit "投稿", class: "btn btn-primary m-1 px-4" %>
      </div>
    <% end %>

  </div>
</div>