<h1>編集画面</h1>

<%= form_with model: @post do |f| %>
  <%= render "public/shared/error_messages", resource: @post %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <h4>公開年</h4>
  <%= f.text_area :release %>

  <h4>時系列</h4>
  <%= f.text_area :timeline %>

  <h4>タグ</h4>
  <%= f.text_area :tag %>

  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <%= f.submit '投稿' %>
<% end %>