<h2>タイトル</h2>
<p><%= @post.title %></p>

<h2>本文</h2>
<p><%= @post.body %></p>

<h2>公開年</h2>
<p><%= @post.release %></p>

<h2>シリーズ順番</h2>
<p><%= @post.timeline %></p>

<h2>画像</h2>
<%= image_tag @post.get_image %>