<h2>投稿詳細</h2>

<h4>タイトル</h4>
<p><%= @post.title %></p>

<h4>本文</h4>
<p><%= @post.body %></p>

<h4>公開年</h4>
<p><%= @post.release %></p>

<h4>シリーズ順番</h4>
<p><%= @post.timeline %></p>

<h4>画像</h4>
<%= image_tag @post.get_image(100, 100) %>

<% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn-secondary' %>
  <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger' %>
<% end %>

<h4>コメント一覧</h4>

<%= render "public/comments/index", post: @post %>
<%= render "public/comments/form", post: @post, comment: @comment %>