<h2>タイトル</h2>
<p><%= @post.title %></p>

<h2>本文</h2>
<p><%= @post.body %></p>

<h2>公開年</h2>
<p><%= @post.release %></p>

<h2>シリーズ順番</h2>
<p><%= @post.timeline %></p>

<h2>画像</h2>
<%= image_tag @post.get_image(100, 100) %>
<%= link_to "編集", edit_post_path(@post.id) %>

<% if @post.user == current_user %>
  <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>