<table>
  <tbody>
      <% post.comments.each do |comment| %>
      <tr>
        
        <td>
          <%= link_to user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image(70,70) %><br>
            <%= comment.user.name %>
          <% end %>
        </td>
        <td><%= comment.body %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "コメント削除", post_comment_path(post, comment), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>